<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>查看帖子</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1"><a href="/admin/index">Dashboard</a></el-menu-item>
                <el-menu-item index="2"><a href="/admin/checkPost">查看帖子</a></el-menu-item>
                <el-menu-item index="3"><a href="/admin/settings">设置</a></el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
                   <el-card class="box-card" v-for="post in posts">
                <div slot="header" class="clearfix">
                    <span>{{post.title}}</span>
                    <el-button style="float: right; padding: 3px 0" type="text">回复</el-button>
                </div>
                <div class="text item">
                    {{post.content}}
                </div>
            </el-card>
        </el-main>
    </el-container>
</div>
</body>
<script>
    let app = new Vue({
        el: '#app',
        data () {
            return {
                activeIndex: '2',
                currentTime: '',
                hasClassTable: false,
                posts: [
                    's'
                ]
            }
        },
        created () {
            this.getPosts()
        },
        methods: {
            getPosts () {
                axios({
                    url: '/getPosts',
                    method: 'POST',
                })
                    .then(res => {
                        this.posts = res.data.result
                        console.log(this.posts)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    })
</script>
</html>