<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>登录</title>
    <style type="text/css">
        　　 a { text-decoration: none }
        　　
        　　 </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1"><a href="/admin/index">首页</a></el-menu-item>
                <el-menu-item index="2"><a href="/admin/checkPost">帖子管理</a></el-menu-item>
                <el-menu-item index="3"><a href="/admin/info">公告管理</a></el-menu-item>
                <el-menu-item index="4"><a href="/admin/settings">设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/admin/fileUpload">资料上传</a></el-menu-item>
                <el-menu-item index="5"><a href="/logout">登出</a></el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <el-row justify="center" type="flex">
                <el-col :span="8">
                    <el-card>
                        <h1>登录</h1>
                        <el-input placeholder="请输入账号"
                                  v-model="username"
                                  type="text"
                                  clearable>
                        </el-input>
                        <el-input placeholder="请输入密码"
                                  v-model="password"
                                  type="password"
                                  @keyup.Enter.native="login"
                                  clearable>
                        </el-input>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<script>
    let app = new Vue({
        el: '#app',
        data () {
            return {
                activeIndex: '1',
                username: '',
                password: ''
            }
        },
        created () {
        },
        methods: {
            login () {
                axios({
                    url: '/login',
                    method: 'POST',
                    params: {
                        username: this.username,
                        password: this.password
                    }
                })
                    .then(response => {
                        if (response.data.status === 0) {
                            window.location.href = '/admin/index'
                        } else {
                            this.$message.error(response.data.result)
                        }
                    })
                    .catch(error => {
                        this.$message.error(error)
                    })

            }
        }
    })
</script>
</html>